.calendar {
    margin: 20px auto;
    max-width: 600px;
}
.calendar th, .calendar td {
    width: 14.28%;
    height: 100px;
    text-align: center;
    vertical-align: middle;
}
.calendar th {
    background-color: #222529;
}
.calendar td.empty {
    background-color: #222529;
}

.table{
    color: white!important;
}